p{
	font-size: 19px;
}


li{
	list-style: none;
	margin-right: 25px;
	padding: 4px 0; /* reduce el espacio (CHATGPT)*/
  border-bottom: 1px solid #ddd; /* separador (CHATGPT)*/
}

.menu p{
	padding: 0px 33px;
	display: inline-block;
	text-decoration: none;
	color: #2f3331;
	font-size: 23px;
}

.menu{
	position: fixed; /*siempre visible (aunque hagas scroll desde el inicio) */
	/*position: sticky; /*Este solo se pega cuando llegas arriba */
	top: 0;
	width: 100%;
	background: linear-gradient(90deg, #FFD1EA 0%, #B3B3DF 100%);;
	display: flex;
	justify-content: space-between;
	align-items: center;
}



ul{
	display: flex;
}

body{
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
}

nav {
  position: fixed;
  top: 70px;
  left: 0;
  background: #ffffff;
  width: 100%;
  display: none;

}
nav .lista-menu {
  flex-direction: column;

}


.titular img{
	margin-top: 111px;
}
.titular{
	text-align: center;
}



.menu li {
  margin-bottom: 30px;
}

h1{
	font-size: 60px;
	margin: 0;
}
h2{
	margin-top: 0px;
	font-size: 22px;
	margin-bottom: 40px;
}
a{
	display: inline-block;
	text-decoration: none;
	color: #2f3331;
}


.menu a:hover{
	color: black;
	transition: 1s; /*cuanto dura el efecto*/
}

header{
	/*background: linear-gradient(to bottom, #f5a89c,#CCCCFF ); */
	
    background: linear-gradient(90deg, #FFD1EA 0%, #B3B3DF 100%);

padding-bottom: 90px;
	height: auto;
	background-size: cover;
}
.contenedor{
	max-width: 1280px;
	width: 90%;
	margin: auto;
}

.contenedor{
	max-width: 1280px;
	width: 100%;
	
}

/* -------------------------- Blog ------------------------------- */

#blog{
	background: #F9FAFC;
	padding-top: 50px;
	padding-bottom: 60px;
	
}

.contenedor-publicaciones{
	display: flex;
	justify-content: space-around;
}

.publicacion{
	width: 30%;
	box-shadow: 1px 1px 14px #ccc; /*para hacer sombra */
	padding-bottom: 20px;
}

#blog img {
	width: 100%;
}

#blog h4{
	font-size: 23px;
	margin: 0;
	padding: 20px;
}

#blog h3{
	text-align: center;
    font-size: 55px;
    font-weight: normal;
}

#blog p{
	color: #5A6169;
	line-height: 24px;
	font-size: 16px;
	padding: 10px 20px 20px 20px;
	margin: 0;
}

#blog a{
	display: inline-block;
	margin-left: 20px;
	padding: 20px 30px 20px 30px;
	font-size: 14px;
	color: white;
	background: #ff66c4;
}



/* -------------------------- MENU y responsivo ------------------------------- */


/*se aplica para la condicion de dispositivos 
que cumplan con la condicion en este caso dispositivos con medidas 
de maximo de 800px*/
@media (max-width: 800px) {

.titular{
	margin-top: 0px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 14px;
}

.contenedor-publicaciones{
	flex-direction: column;
}

.publicacion{
	width: 85%;
	margin: auto;
	margin-bottom: 25px;
}

}

/*despues del cierre del media para crear una condicion para tablet*/

@media (min-width: 600px) and (max-width:800px) {
 header {
    height: 70vh;
  }
  h2 {
  font-size: 19px;
			}
  }

@media (min-width: 600px) and (max-width:1024px) {
 header {
    height: 100vh;
  }
  h2 {
  font-size: 19px;
			}
  }
 


  
