p{
	font-size: 20px;
}

body{
	font-family: 'Poppins';
	margin: 0;
	padding: 0;
}

.titular img{
	margin-top: 22px;
}
.titular{
	text-align: center;
}

.menu {
  list-style: none;
  padding: 0;
  margin-top: 35px;

}

.menu li {
  margin-bottom: 30px;
}

h1{
	font-size: 60px;
	margin: 0;
}
h2{
	margin-top: 0px;
	font-size: 22px;
	margin-bottom: 40px;
}
a{
	display: inline-block;
	text-decoration: none;
	color: white;
	width: 140px;
	padding: 20px 30px 20px 30px;
	font-size: 14px;
	background: #FF64BA;
	border-radius: 8px;
}

.menu a:hover{
	color: black;
	transition: 1s; /*cuanto dura el efecto*/
}

header{
	/*background: linear-gradient(to bottom, #f5a89c,#CCCCFF ); */
	
    background: linear-gradient(90deg, #FFD1EA 0%, #B3B3DF 100%);


	height: 120vh;
	background-size: cover;
}
.contenedor{
	max-width: 1280px;
	width: 90%;
	margin: auto;
}


/* -------------------------- MENU y responsivo ------------------------------- */


/*se aplica para la condicion de dispositivos 
que cumplan con la condicion en este caso dispositivos con medidas 
de maximo de 800px*/
@media (max-width: 800px) {

.titular{
	margin-top: 0px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 14px;
}

}

/*despues del cierre del media para crear una condicion para tablet*/

@media (min-width: 600px) and (max-width:800px) {
 header {
    height: 70vh;
  }
  h2 {
  font-size: 19px;
			}
  }

@media (min-width: 600px) and (max-width:1024px) {
 header {
    height: 100vh;
  }
  h2 {
  font-size: 19px;
			}
  }
 


  
